/*   FOOTER INDEX  */
.index-footer-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 60px 0;

    .index-footer-container__li {
    font-size: 20px;
    list-style: none;
    line-height: 30px;
    }

    .index-footer-container__li a {
    font-size: 20px;
    color: #F4E4E4;
    }

}