/*   HEADER UBICACION  */
.ubicacion-header__h1 {
        @extend %titulo-principal;
        color: #784646;
        border-bottom: .625rem solid #784646;

        h1 {
        font-size: 5.625rem;
        font-weight: 700;
        }
}
        
   /*   NAV UBICACION  */

@include estilo-navbar(#ad6060, navbar-ubicacion);