/*   MAIN INDEX  */
.index-main-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

        h3{
        text-align: center;
        font-size: 28px;
        margin: 20px 130px;
        padding: 10px 50px;
        line-height: 50px;
        font-weight: 500;
        }

}