/*   MEDIA QUERYS INDEX 905 PX   */
@media (max-width:905px ) {
    .index-header-container {
        padding: 0 40px;
        text-wrap: balance;
    }

    .index-main-container {
        margin: 60px 0;
    }
}


/*   MEDIA QUERYS INDEX 480 PX   */
@media (max-width:480px) {
    .index-header-container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr ;
        justify-content: center;
        text-align: center;
    }

    .index-header-container h2 {
        grid-column: 1;
    }
    
    .index-main-container {
        text-align: center;
        margin: 0 -30px;
    }
}