/*   MEDIA QUERYS SOBRE NOSOTROS 992 PX   */
@media (max-width: 992px) {
  .sobre-nosotros-header__h1 {
    margin: 2rem 0;
  }

  .sobre-nosotros-header__h1 h1 {
    font-size: 4rem;
  }

  .navbar-sn .nav-link {
    font-size: 18px;
  }

  .sobre-nosotros-main-container p {
    font-size: 22px;
    margin: 20px 60px;
    padding: 10px 30px;
    line-height: 40px;
  }

  .footer-container .footer-container__li {
    font-size: 18px;
  }

  .footer-container .footer-container__li a {
    font-size: 18px;
  }
}

/*   MEDIA QUERYS SOBRE NOSOTROS 576 PX   */
@media (max-width: 576px) {
  .sobre-nosotros-header__h1 {
    margin: 1.5rem 0;
  }

  .sobre-nosotros-header__h1 h1 {
    font-size: 3rem;
  }

  .navbar-sn {
    padding: 10px;
    margin: 30px 0;
  }

  .navbar-sn .nav-link {
    font-size: 16px;
    text-align: center;
  }

  .sobre-nosotros-main-container p {
    font-size: 18px;
    margin: 20px 20px;
    padding: 10px 10px;
    line-height: 32px;
  }

  .footer-container {
    margin: 40px 0;
  }

  .footer-container .footer-container__li {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-container .footer-container__li a {
    font-size: 16px;
  }
}