/*   HEADER CONTACTO  */
.contacto-header__h1 {
    @extend %titulo-principal;
    color: #396143;
    border-bottom: .625rem solid #396143;
    
    h1 {
    font-size: 5.625rem;
    font-weight: 700;
    }
}
    
    /*   NAV CONTACTO  */
    
@include estilo-navbar(#549664, navbar-contacto);
